:root{
           --f: var(none); 
}
ul{
    overflow: scroll;
    width: 500px;
    list-style-type: none;
    height: 500px;
}
.date{
    font-size: 1pc;
    display: none;
}
a{
    color: black;
    font-family: none;
    font-style: none;
}
.me{
    background-color: blue;
}
li{
    border: 4px solid black;
    padding: 20px;
    height: auto;
    border-radius: 10px;
}