<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form action="/acc/" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">login</button>
    </form>
    <script>
        window.onpageshow = function(){
            if(`${document.cookie}`.includes("acc")){
                location.href = "/";
            }
        }
    </script>
    <a href="{% url 'create' %}">create account</a>
</body>
</html>
